<!-- Footer -->
<div  th:fragment="footer">
<!-- <div  class="navbar navbar-expand-lg navbar-light footer_custom" style="height: 40px;">
	
	<div class="navbar-collapse collapse" id="navbar-footer">
		<span class="navbar-text">
			 2019. <a href="##">University of Missouri, Columbia</a>
		</span>

		<ul class="navbar-nav ml-lg-auto">
			<li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
			<li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>

		</ul>
	</div>
</div> -->
</div>
<!-- /footer -->