<head th:fragment="header">
	<meta charset="ISO-8859-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<title>Mizzou NeuroLab</title>
		
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
	<link th:href="@{/css/bootstrap_limitless.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/components.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/colors.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	
	<script th:src="@{/js/lib/jquery.min.js.download}"></script>
	<script th:src="@{/js/lib/bootstrap.bundle.min.js.download}"></script>
	<script th:src="@{/js/lib/app.js.download}"></script>
	<script th:src="@{/js/lib/dashboard.js.download}"></script>
	
	<script th:src="@{/js/lib/jquery.steps.min.js}"></script>
	<script th:src="@{/js/mainApp.js}"></script>
	<script th:src="@{/js/route.js}"></script>
	<script th:src="@{/js/angular_controllers/mainController.js}"></script>
	<script th:src="@{/js/angular_controllers/labController.js}"></script>
	<script th:src="@{/js/angular_controllers/moduleController.js}"></script>
	<script th:src="@{/js/angular_controllers/progressController.js}"></script>


	<script th:src="@{/js/angularService/mainService.js}"></script>
    
    <link th:href="@{/css/bs-stepper.css}" rel="stylesheet" type="text/css" />
	
	<link href="bs-stepper.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://johann-s.github.io/bs-stepper/dist/js/bs-stepper.min.js"></script>
    
    
    <script type="text/javascript" src="http://jtblin.github.io/angular-chart.js/node_modules/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="http://jtblin.github.io/angular-chart.js/dist/angular-chart.js"></script>
  
</head>
