<!--
<div  ng-controller="myModulesController">
<div class=" mycourses row">
    <div class="card col-md-6 " ng-repeat="userModule in userModules">
        <div class="card-header">
            <div class="media">
                <div class="media-left">
                	<div style="background:#{{userModule.module.moduleBg}};border-radius: 50%;height: 90px;width: 90px;">
                    <a href="javascript:void(0);">
                        <img ng-src="{{userModule.module.moduleImage}}" ng-click="openCourse(userModule.module.viewName,userModule)" alt="Card image cap" width="80px" class="rounded">
                    </a>
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="card-title m-0" ><a href="javascript:void(0);" ng-click="openCourse(userModule.module.viewName,userModule)">{{userModule.module.environment_name}}</a></h4>
                    
                </div>
            </div>
        </div>

    </div>
</div>
</div>
-->